/*
I certify that the HTML file I am submitting is all my own work.
None of it is copied from any source or any person.
Signed: Josh Hartneck.
Date: 12/10/2023


<!--
Author: Josh Hartneck
Date: 12/10/2023
Class: CSC135
Project: Lab 6
Description: Create individual pages
*/

/*Getting container to fit webpage.*/
.maincontainer {
	width:100%;
	overflow: auto;
	
	
}
/*Formatting container to fit design.*/
.maincontainer img {
	float: left;
	text-align: center;
	margin-right:30px;
	
}